* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    /* transparent navbar */
    color: rgb(22, 21, 21);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-weight: bold;
}

.hero {
    height: 100vh;
    background: url('background.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: rgb(29, 28, 28);
}

.hero h1 span {
    color: #222222;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #e8ebec;
    color: rgb(19, 18, 18);
    text-decoration: none;
    border-radius: 5px;
}

.about {
    display: flex;
    padding: 80px 50px;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 250px;
    border-radius: 10px;
}

.projects {
    padding: 80px 50px;
    background: #131212;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.contact {
    padding: 80px 50px;
    text-align: center;
}